---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="date">
    Source code on Gitlab: <a target="_blank" href="https://gitlab.com/pj035/blog/-/blob/main/{{page.path}}">{{ page.id }}.md</a>
  </div>

  {% include disqus.html %}
</article>
